@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Tektur, system-ui, Avenir, Helvetica, Arial, sans-serif;

  line-height: 1.5;
  font-weight: 100;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --background-dark: #535151;
  --background-light: #ffffff;

  --text-dark: #ffefd6;
  --text-light: #013e3f;

  /* main */
  --main-bg-dark: #039597;
  --main-bg-dark-75: #039497b3;
  --main-cl-dark: #ffbf9c;

  --main-bg-light: #b0f8f9;
  --main-cl-light: #000000;

  --main-bg-light-75: #b0f8f9b1;

  /* secondary  */
  --secondary-bg-dark: #249ea1;
  --secondary-cl-dark: #f78105;
  --secondary-bg-dark-75: #249fa1b0;

  --secondary-bg-light: #84ced0;
  --secondary-cl-light: #fd5900;
  --secondary-bg-light-75: #69c9ccbe;

  /* primary, success */

  --primary-bg-dark: #03af75;
  --primary-cl-dark: rgb(255, 255, 255);

  --primary-bg-light: #8ff6bf;
  --primary-cl-light: #000000;

  /* danger, failed, errors */

  --danger-bg-dark: #b70e0e;
  --danger-cl-dark: rgb(255, 255, 255);

  --danger-bg-light: #f28888;
  --danger-cl-light: #000000;

  /* highlight color */

  --highlight-cl-dark: #faab35;
  --highlight-cl-light: #faab35;
  
  --highlight-bg-dark-75: #249fa1b0;
  --highlight-bg-light-75: #67dddfc6;
  
  --highlight-bg-dark: #249fa1;
  --highlight-bg-light: #67dddf;

  /* command panel */
  --command-panel-bg-dark: #3b6566;
  --command-panel-bg-light: #a0e3e4;


  --color-1: #fd5900;
  --color-1-2: #fb925a;
  --color-2: #f78105;
  --color-2-2: #fac58b;
  --color-3: #faab35;
  --color-3-2: #ffefd6;
  --color-4: #249ea1;
  --color-4-2: #67dddf;
  --color-5: #008083;
  --color-5-2: #34c1c4;
  --color-6: #005f61;
  --color-6-2: #039597;

}

body {
  margin: 0;
  display: flex;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-size: 16px;
}

body.light {
  background-color: var(--background-light);
  color: var(--text-light);

  --main-bg: var(--main-bg-light);
  --main-bg-75: var(--main-bg-light-75);
  --main-cl: var(--main-cl-light);

  --secondary-bg: var(--secondary-bg-light);
  --secondary-bg-75: var(--secondary-bg-light-75);
  --secondary-cl: var(--secondary-cl-light);

  --primary-bg: var(--primary-bg-light);
  --primary-cl: var(--primary-cl-light);

  --danger-bg: var(--danger-bg-light);
  --danger-cl: var(--danger-cl-light);

  --command-panel-bg: var(--command-panel-bg-light);

  --highlight-bg: var(--highlight-bg-light);
  --highlight-bg-75: var(--highlight-bg-light-75);

  --highlight-cl: var(--highlight-cl-light);
}

body.dark {
  background-color: var(--background-dark);
  color: var(--text-dark);

  --main-bg: var(--main-bg-dark);
  --main-bg-75: var(--main-bg-dark-75);
  --main-cl: var(--main-cl-dark);

  --secondary-bg: var(--secondary-bg-dark);
  --secondary-bg-75: var(--secondary-bg-dark-75);
  --secondary-cl: var(--secondary-cl-dark);

  --primary-bg: var(--primary-bg-dark);
  --primary-cl: var(--primary-cl-dark);

  --danger-bg: var(--danger-bg-dark);
  --danger-cl: var(--danger-cl-dark);

  --command-panel-bg: var(--command-panel-bg-dark);

  --highlight-bg: var(--highlight-bg-dark);
  --highlight-bg-75: var(--highlight-bg-dark-75);

  --highlight-cl: var(--highlight-cl-dark);

}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

:focus {
  outline: 1px solid var(--main-cl);
}


@media (prefers-color-scheme: light) {
  :root {
    background-color: var(--background-light);
    color: var(--text-light);

    --main-bg: var(--main-bg-light);
    --main-cl: var(--main-cl-light);
    --secondary-bg: var(--secondary-bg-light);
    --secondary-cl: var(--secondary-cl-light);

    --main-bg-75: var(--main-bg-light-75);
    --secondary-bg-75: var(--secondary-bg-light-75);

    --primary-bg: var(--primary-bg-light);
    --primary-cl: var(--primary-cl-light);

    --danger-bg: var(--danger-bg-light);
    --danger-cl: var(--danger-cl-light);

    --command-panel-bg: var(--command-panel-bg-light);

    --highlight-bg: var(--highlight-bg-light);
    --highlight-bg-75: var(--highlight-bg-light-75);

    --highlight-cl: var(--highlight-cl-light);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: var(--background-dark);
    color: var(--text-dark);

    --main-bg: var(--main-bg-dark);
    --main-cl: var(--main-cl-dark);
    --secondary-bg: var(--secondary-bg-dark);
    --secondary-cl: var(--secondary-cl-dark);

    --primary-bg: var(--primary-bg-dark);
    --primary-cl: var(--primary-cl-dark);

    --danger-bg: var(--danger-bg-dark);
    --danger-cl: var(--danger-cl-dark);

    --main-bg-75: var(--main-bg-dark-75);
    --secondary-bg-75: var(--secondary-bg-dark-75);

    --command-panel-bg: var(--command-panel-bg-dark);

    --highlight-bg: var(--highlight-bg-dark);
    --highlight-bg-75: var(--highlight-bg-dark-75); 

    --highlight-cl: var(--highlight-cl-dark);
  }
}



@media (max-width: 768px) {
  body {
    font-size: 13px;
  }
}

@media (max-width: 480px) {
  body {
    font-size: 11px;
  }
}